<!DOCTYPE html>
<html lang="en" class="dark">
<head>

    <title>HTMX Lunch and Learn</title>

    <script 
        src="https://unpkg.com/htmx.org@1.9.10" 
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" 
        crossorigin="anonymous">
    </script>
    {# Adding a link to our tailwind.css #}
    <link rel="stylesheet" href="/static/tailwind.css"/>
    <style>
        .container {
            margin: 0 auto;
            padding: 20px;
            width: 50%;
        }
    </style>

</head>
<body>
    <div id="presentation" class="container">
        <img src="/static/htmx-banner.png" alt="banner">
        <p style="font-size: 200%;"><br> ANOTHER JS library!</p>
        <button
            hx-target="#presentation" 
            hx-get="/presentation-start"
            hx-swap="innerHTML"
            style="background-color: rgb(67, 189, 67); border-radius: 10px; color: white; padding: 4px;"> 
            Load Presentation
        </button>
    </div>
</body>
</html>