<!DOCTYPE html>

<head>

    <title>FUN htmx</title>

    <script 
        src="https://unpkg.com/htmx.org@1.9.10" 
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" 
        crossorigin="anonymous">
    </script>
    {# Adding a link to our tailwind.css #}
    <link rel="stylesheet" href="/static/tailwind.css"/>
    <style>
        .container {
            margin: 0 auto;
            padding: 20px;
            width: 50%;
        }
    </style>

</head>

<body>
    <nav>
        <ul class="flex justify-center">
            <li class="mr-6">
                <a href="/">Home</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <p id="counter">Counter: {{ counter_value }}</p>

        <button 
            hx-get="/increment" 
            hx-target="#counter">
            increment
        </button>

        <button 
            hx-get="/decrement" 
            hx-target="#counter">
            decrement
        </button>

        <button 
            hx-get="/reset" 
            hx-target="#counter">
            reset
        </button>
    </div>
    <div class="container">
        <p>Click the buttons to increment and decrement the counter.</p>
    </div>
    <div

        hx-target="#ratings"
        hx-boost="true" 
        hx-get="/ratings"> 
        Load Ratings
    </div>

    <div id="ratings" class="container">
    </div>
</body>