<div id="presStart">
    <h2 style="font-size: 150%;"> Why did I choose to learn this library?</h2>
    <br>
    <hr>
    <ul>
        <li>
            &#8226; I wanted to learn more about web application architecture.<br>
        </li>
        <li>
            &#8226; It's easy to write bad Javascript code and I am confident in my ability to write bad Javascript code.<br>
        </li>
        <li>
            &#8226; It enabled me to write most of the UI logic in python.<br>
        </li>
        <li>
            &#8226; My YouTube algorithm recommended videos about it.<br>
        </li>
        <li>
            &#8226; The use case for the application I wanted to write fits well into this library's primary purpose.<br>
        </li>
    </ul>
    <hr>
    <br>
    <button 
        style="background-color: rgb(67, 189, 67); border-radius: 10px; color: white; padding: 4px;"
        hx-get="/second-meme" 
        hx-swap="innerHTML" 
        hx-target="#presentation"> 
        More Memes!
    </button>
</div>
